In [22]:
import pandas as pd
import numpy as np

In [48]:
#load dataset on python
import io
df = pd.read_csv(r'D:\Prabitha\Edubridge classes\Project\Retail data\archive\Processed_data-03-10-2021.csv')

In [49]:
a = df.columns[0:8]

In [50]:
df = df.drop(a,axis = 1)

In [51]:
df.isnull().sum()

State                0
Centre               0
Commodity            0
Variety         203148
Unit                 0
Category             0
Date                 0
Retail Price    121839
dtype: int64

In [52]:
missingprice= df[df["Retail Price"].isnull()]

In [53]:
m=missingprice.index

In [54]:
df=df.drop(m,axis=0)

In [57]:
df.shape

(1015887, 8)

In [64]:
df.isnull().sum()

State           0
Centre          0
Commodity       0
Variety         0
Unit            0
Category        0
Date            0
Retail Price    0
dtype: int64

In [63]:
df["Variety"]=df["Variety"].fillna("FAQ")

In [61]:
df["Variety"].unique()

array(['Split', nan, 'FAQ', 'Powdered Agmark', 'Common/Coarse', 'Fine',
       'Superfine', 'Loose(common)', 'Packet(iodized)',
       'Brooke Bond Red Label', 'Ctc(loose)', 'Glucose',
       'Delicious medium size', 'Local', 'White', 'Mutton', 'Cow/Buffalo',
       'Dairy', 'Common', 'Cat Fish', 'Pomphret', 'Rohu 1Kg Size', 'Desi',
       'Whole', 'Amul/Any Other', 'Poultry', 'Dry', 'Fresh', 'Instant',
       'Powdered', 'Kalyan HYV'], dtype=object)

In [31]:
Moong = df[(df["Commodity"]=="Moong") & (df["Date"]=='JAN-2001')]
Moong

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,JAN-2001,24.000000
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,JAN-2001,26.000000
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,JAN-2001,25.500000
3,Andhra Pradesh,Vishakhapatnam,Moong,Split,Kg.,Food,JAN-2001,25.166667
4,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,JAN-2001,NaN
...,...,...,...,...,...,...,...,...
80,Uttarakhand,Srinagar,Moong,Split,Kg.,Food,JAN-2001,30.000000
81,West Bengal,Asansol,Moong,Split,Kg.,Food,JAN-2001,33.000000
82,West Bengal,Howrah,Moong,Split,Kg.,Food,JAN-2001,32.000000
83,West Bengal,Jalpaiguri,Moong,Split,Kg.,Food,JAN-2001,33.000000
84,West Bengal,Kolkata,Moong,Split,Kg.,Food,JAN-2001,34.000000

In [32]:
Moong = df[(df["Commodity"]=="Moong") & (df["State"]=="Arunachal Pradesh")]
Moong

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
4,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,JAN-2001,NaN
1249,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,FEB-2001,NaN
2494,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,MAR-2001,NaN
3739,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,APR-2001,NaN
4984,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,MAY-2001,NaN
...,...,...,...,...,...,...,...,...
296314,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,NOV-2020,106.718750
297559,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,DEC-2020,105.920635
298804,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,JAN-2021,NaN
300049,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,FEB-2021,NaN
301294,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,MAR-2021,NaN

In [66]:
df

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,JAN-2001,24.000000
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,JAN-2001,26.000000
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,JAN-2001,25.500000
3,Andhra Pradesh,Vishakhapatnam,Moong,Split,Kg.,Food,JAN-2001,25.166667
9,Bihar,Gaya,Moong,Split,Kg.,Food,JAN-2001,27.500000
...,...,...,...,...,...,...,...,...
1137721,West Bengal,Jalpaiguri,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,29.301980
1137722,West Bengal,Kolkata,Wheat,Desi,Kg.,Food,MAR-2021,29.301980
1137723,West Bengal,Kolkata,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,29.301980
1137724,West Bengal,Malda,Wheat,Desi,Kg.,Food,MAR-2021,20.000000
1137725,West Bengal,Malda,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,29.301980

In [ ]:
product = df["Commodity"].unique()
date = df["Date"].unique()
state=df["State"].unique()

for dt in date:
    for s in state:
        #for p in product:
        #d = df[(df["Commodity"]=="Moong") & (df["Date"]==dt) & (df["State"]==s) ]
        d = df[(df["Commodity"]=="Turmeric") & (df["Date"]==dt) & (df["State"]==s) ]
        avg = d["Retail Price"].mean()
           
        row = d.index
        df.loc[row,"Retail Price"] = d.fillna(avg)

        
    print("Finished Date: ",dt)

Finished Date:  JAN-2001
Finished Date:  FEB-2001
Finished Date:  MAR-2001
Finished Date:  APR-2001
Finished Date:  MAY-2001
Finished Date:  JUN-2001
Finished Date:  JUL-2001
Finished Date:  AUG-2001
Finished Date:  SEP-2001
Finished Date:  OCT-2001
Finished Date:  NOV-2001
Finished Date:  DEC-2001
Finished Date:  JAN-2002
Finished Date:  FEB-2002
Finished Date:  MAR-2002
Finished Date:  APR-2002
Finished Date:  MAY-2002
Finished Date:  JUN-2002
Finished Date:  JUL-2002
Finished Date:  AUG-2002
Finished Date:  SEP-2002
Finished Date:  OCT-2002
Finished Date:  NOV-2002
Finished Date:  DEC-2002
Finished Date:  JAN-2003
Finished Date:  FEB-2003
Finished Date:  MAR-2003
Finished Date:  APR-2003
Finished Date:  MAY-2003
Finished Date:  JUN-2003
Finished Date:  JUL-2003
Finished Date:  AUG-2003
Finished Date:  SEP-2003
Finished Date:  OCT-2003
Finished Date:  NOV-2003
Finished Date:  DEC-2003
Finished Date:  JAN-2004
Finished Date:  FEB-2004
Finished Date:  MAR-2004
Finished Date:  APR-2004
Finished Date:  MAY-2004
Finished Date:  JUN-2004
Finished Date:  JUL-2004
Finished Date:  AUG-2004
Finished Date:  SEP-2004
Finished Date:  OCT-2004
Finished Date:  NOV-2004
Finished Date:  DEC-2004
Finished Date:  JAN-2005
Finished Date:  FEB-2005
Finished Date:  MAR-2005
Finished Date:  APR-2005
Finished Date:  MAY-2005
Finished Date:  JUN-2005
Finished Date:  JUL-2005
Finished Date:  AUG-2005
Finished Date:  SEP-2005
Finished Date:  OCT-2005
Finished Date:  NOV-2005
Finished Date:  DEC-2005
Finished Date:  JAN-2006
Finished Date:  FEB-2006
Finished Date:  MAR-2006
Finished Date:  APR-2006
Finished Date:  MAY-2006
Finished Date:  JUN-2006
Finished Date:  JUL-2006
Finished Date:  AUG-2006
Finished Date:  SEP-2006
Finished Date:  OCT-2006
Finished Date:  NOV-2006
Finished Date:  DEC-2006
Finished Date:  JAN-2007
Finished Date:  FEB-2007
Finished Date:  MAR-2007
Finished Date:  APR-2007
Finished Date:  MAY-2007
Finished Date:  JUN-2007
Finished Date:  JUL-2007
Finished Date:  AUG-2007
Finished Date:  SEP-2007
Finished Date:  OCT-2007
Finished Date:  NOV-2007
Finished Date:  DEC-2007
Finished Date:  JAN-2008
Finished Date:  FEB-2008
Finished Date:  MAR-2008
Finished Date:  APR-2008
Finished Date:  MAY-2008
Finished Date:  JUN-2008
Finished Date:  JUL-2008
Finished Date:  AUG-2008
Finished Date:  SEP-2008
Finished Date:  OCT-2008
Finished Date:  NOV-2008
Finished Date:  DEC-2008
Finished Date:  JAN-2009
Finished Date:  FEB-2009
Finished Date:  MAR-2009
Finished Date:  APR-2009
Finished Date:  MAY-2009
Finished Date:  JUN-2009
Finished Date:  JUL-2009
Finished Date:  AUG-2009
Finished Date:  SEP-2009
Finished Date:  OCT-2009
Finished Date:  NOV-2009
Finished Date:  DEC-2009
Finished Date:  JAN-2010
Finished Date:  FEB-2010
Finished Date:  MAR-2010
Finished Date:  APR-2010
Finished Date:  MAY-2010
Finished Date:  JUN-2010
Finished Date:  JUL-2010
Finished Date:  AUG-2010
Finished Date:  SEP-2010
Finished Date:  OCT-2010
Finished Date:  NOV-2010
Finished Date:  DEC-2010
Finished Date:  JAN-2011
Finished Date:  FEB-2011
Finished Date:  MAR-2011
Finished Date:  APR-2011
Finished Date:  MAY-2011
Finished Date:  JUN-2011
Finished Date:  JUL-2011
Finished Date:  AUG-2011
Finished Date:  SEP-2011
Finished Date:  OCT-2011
Finished Date:  NOV-2011
Finished Date:  DEC-2011
Finished Date:  JAN-2012
Finished Date:  FEB-2012
Finished Date:  MAR-2012
Finished Date:  APR-2012
Finished Date:  MAY-2012
Finished Date:  JUN-2012
Finished Date:  JUL-2012
Finished Date:  AUG-2012
Finished Date:  SEP-2012
Finished Date:  OCT-2012
Finished Date:  NOV-2012
Finished Date:  DEC-2012
Finished Date:  JAN-2013
Finished Date:  FEB-2013
Finished Date:  MAR-2013
Finished Date:  APR-2013
Finished Date:  MAY-2013
Finished Date:  JUN-2013
Finished Date:  JUL-2013
Finished Date:  AUG-2013
Finished Date:  SEP-2013
Finished Date:  OCT-2013
Finished Date:  NOV-2013
Finished Date:  DEC-2013
Finished Date:  JAN-2014
Finished Date:  FEB-2014
Finished Date:  MAR-2014
Finished Date:  APR-2014
Finished Date:  MAY-2014
Finished Date:  JUN-2014
Finished Date:  JUL-2014
Finished Date:  AUG-2014
Finished Date:  SEP-2014
Finished Date:  OCT-2014
Finished Date:  NOV-2014
Finished Date:  DEC-2014
Finished Date:  JAN-2015
Finished Date:  FEB-2015
Finished Date:  MAR-2015
Finished Date:  APR-2015
Finished Date:  MAY-2015
Finished Date:  JUN-2015
Finished Date:  JUL-2015
Finished Date:  AUG-2015
Finished Date:  SEP-2015
Finished Date:  OCT-2015

In [67]:
df.to_csv(r"D:\Prabitha\Edubridge classes\Project\Retail data\archive\Processed_data-16-10-2021.csv")